.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.tomato {
    background-color: tomato;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}